.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card {
  margin-left: 25%;
  width: 50%;
  align-self: center;
}

.mat-card-image {
  height: 50vh;
}
